{% extends 'base.html' %}
{% block title %}| Perfil {% endblock %}
{% load gravatar %}

{% block pagetitle %} Editar Perfil{% endblock %}


{% block content %}
<section id="authoring-header" class="bg-primary text-white py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2><i class="fas fa-grip-horizontal"></i> Perfil </h2>
      </div>
    </div>
  </div>
</section>

<section style="background-color:#E6E9EC">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard'%}">Dashboard</a></li>
        <li class="breadcrumb-item" aria-current="page">Editar Perfil</li>
      </ol>
    </nav>
  </div>
</section>

<section>
<div class="container" style="min-height: 61vh;">
  <div class="row my-2">
    <div class="col">
      {% if success %}
      <div class="alert alert-success" role="alert">
        Perfil atualizado com sucesso!
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card-body">
        <div class="text-center card-box">
          <div class="member-card">
            <div class="thumb-xl member-thumb m-b-10 center-block">
              {% if user.userprofile.image %}
                   <img src="{{ user.userprofile.image.url }}" class="rounded-circle img-fluid img-thumbnail" alt="Profile Image">

             {% endif  %}
            </div>

            <div class="">
              <h5 class="m-b-5">{{ usuario.name }}</h5>
              <p class="text-muted">{{ usuario.username }}</p>
            </div>

            <a href="{% url 'accounts:edit_profile' %}" class="btn btn-block btn-primary"><i class="fa fa-pencil m-r-5"></i> Editar Perfil</a>
            <a href="{% url 'accounts:edit_password' %}" class="btn btn-block btn-primary"><i class="fa fa-lock m-r-5"></i> Alterar Senha</a>

          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="col-md-9">
      <div class="col card-box">


        <form method="POST">

          {% include 'partials/_alerts.html' %}
          {{ form.non_field_errors }}

          {% csrf_token %}
          {% for field in form %}
          <div class="form-group mb-1">
            {{ field }}
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
              {{ field.errors }}
            </div>
            {% endif %}
          </div>
          {% endfor %}


          <button type="submit" class="btn btn-dark btn-block my-2">Salvar Modificações</button>
        </form>

      </div>
    </div>
  </div>
</section>



{% endblock %}




{% block sidebar %}

<div class="card-body">

  <div class="text-center card-box">
    <div class="member-card">
      <div class="thumb-xl member-thumb m-b-10 center-block">
          {% if user.userprofile.image %}
               <img src="{{ user.userprofile.image.url }}" class="rounded-circle img-fluid img-thumbnail" alt="Profile Image">
          {% else  %}
                <img src="{% gravatar_url  user.email 150 %}" class="rounded-circle img-fluid img-thumbnail" alt="Gravatar image">
         {% endif  %}
      </div>

      <div class="">
        <h5 class="m-b-5">{{ usuario.name }}</h5>
        <p class="text-muted">{{ usuario.username }}</p>
      </div>

      <a href="{% url 'accounts:edit_profile' %}" class="btn btn-block btn-primary"><i class="fa fa-pencil m-r-5"></i> Editar Perfil</a>
      <a href="{% url 'accounts:edit_password' %}" class="btn btn-block btn-primary"><i class="fa fa-lock m-r-5"></i> Alterar Senha</a>

    </div>
  </div>
  <hr />
</div>
{% endblock %}


{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'accounts:dashboard'%}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'accounts:profile'%}">Perfil</a></li>
<li class="breadcrumb-item active" aria-current="page">Editar</li>
{% endblock %}
