<div class="card">
  <div class="card-body">
  <a href="#">
      <img class="card-img-top img-fluid img-thumbnail" src="{{aula.imagem.url}}" alt="Imagem da Turma">
  </a>
  <hr>

  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-geral" role="tab" aria-controls="v-pills-home" aria-selected="true">Dados Gerais</a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-lendo" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-book-open"></i> Lendo</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-assistindo" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-film"></i> Vendo e Ouvindo</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-observando" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-eye"></i> Observando</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-discutindo" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-comments"></i> Discutindo</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-praticando" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-check"></i> Praticando</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-ensinando" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-chalkboard-teacher"></i> Ensinando</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-adicionando" role="tab" aria-controls="v-pills-settings" aria-selected="false">Adicionar</a>
  </div>
</div>
</div>
