<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

 <!-- Bootstrap -->
<link rel="stylesheet" href="/static/css/bootstrap.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<!-- Custom -->
<link rel="stylesheet" href="/static/css/preview.css">

<!-- Star Rating -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/bootstrap-stars.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars-o.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars-o.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars-o.min.css.map">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.min.css.map">
<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>


<style media="screen">
  @media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
</style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top py-4">
      <div class="row">
        <div class="navbar-brand abs" href="#">
              <img src="/static/images/logo-great.png" width="50" height="50" alt="">
              <h3 class="d-inline align-middle">GReAT Lesson</h3>
        </div>

      </div>
      <div class="row mx-auto">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
            <li class="nav-item mx-3"><a class="nav-link" href="#inicio">Início</a></li>
            <li class="nav-item mx-3"><a class="nav-link" href="#lendo">Lendo</a></li>
            <li class="nav-item mx-3"><a class="nav-link" href="#observando">Observando</a></li>
            <li class="nav-item mx-3"><a class="nav-link" href="#vendo-e-ouvindo">Vendo e Ouvindo</a></li>
            <li class="nav-item mx-3"><a class="nav-link" href="#discutindo">Discutindo</a></li>
            <li class="nav-item mx-3"><a class="nav-link" href="#fazendo">Fazendo</a></li>
            <li class="nav-item mx-3"><a class="nav-link" href="#ensinando">Ensinando</a></li>
          </ul>
        </div>
      </div>

    </nav>
    <section>


    <div class="content">
            <section id="inicio" style="height: 100vh;">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <img src="/media/media/images/aulas/Evolucao_dos_computadores.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h1>HISTÓRICO E EVOLUÇÃO DOS COMPUTADORES</h1>
                    <p></p>
                    <a href="#lendo" class="btn btn-outline-primary">Começar</a>
                  </div>
                </div>
              </div>

            </section>
            <section id="lendo" style="height: 100vh;">
               <div class="container">
                 <div class="row">
                   <div class="col center">
                     <h1>Atividades Leitura</h1>
                   </div>
                 </div>

               </div>
            </section>

            <section class="center" id="observando" style="height: 100vh;">
                 <div class="container">
                  <div class="row">
                    <div class="col">
                      <h1>Atividades Observação</h1>
                    </div>
                  </div>

                </div>


            </section>
            <section class="center" id="vendo-e-ouvindo" style="height: 100vh;">
              <div class="container">
                <div class="row">
                  <div class="col center">
                    <h1>Vendo e Ouvindo</h1>
                  </div>
                </div>

              </div>
            </section>
            <section class="center" id="discutindo" style="height: 100vh;">
                <h1>Atividades Discussão</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum ex laudantium nihil aliquid quaerat quam in voluptas facilis quia reiciendis?</p>
            </section>
            <section class="center" id="fazendo" style="height: 100vh;">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h1>Atividades Prática</h1>
                  </div>
                </div>

              </div>
            </section>
            <section class="center" id="ensinando" style="height: 100vh;">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h1>Atividades de Ensino</h1>
                  </div>
                </div>

              </div>
            </section>
        </div>


    </section>


  </body>
</html>
